<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8" />
        <title>Hokie Sports - Joining Team</title>
        <link href="/static/bootstrap.min.css" rel='stylesheet'>
    </head>
    <body>
        <form action='/handleJoinTeam' method='post'>
            Email: <input type='text' name='email'><br>
            Team: <select name='teamName'>
                {% for i in teams %}
                    <option value='{{ i }}'>{{ i }}</option>
                {% endfor %}<!-- use list of -->
            </select><br>
            <input class='btn btn-primary' type='submit' value='Submit'>
        </form><br>
        <a href='/'>
            <button class='btn btn-primary'>Home</button>
        </a>
    </body>
</html>
