<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8" />
        <title>Hokie Sports - Intramural</title>
        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        
        <!-- Bootstrap core JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!-- Custom styles for this template -->  
        <link href="/static/signin.css" rel="stylesheet">
        <link href="/static/cover.css" rel="stylesheet">
        <link href="/static/img.css" rel="stylesheet">
    </head>
    <body>
        <div class='site-wrapper'>
            <a href='/newMember'>
                <button class='btn btn-primary btn-block'>Sign up as a new member</button>
            </a>
            <br/>
            <a href='/newTeam'>
                <button class='btn btn-primary btn-block'>Sign up a new team</button>
            </a>
            <br>
            <a href='/joinTeam'>
                <button class='btn btn-primary btn-block'>Join an existing team</button>
            </a>
        </div>
    </body>
</html>
