<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8" />
        <title>Hokie Sport - New Intramural Player</title>
        <link href="/static/bootstrap.min.css" rel='stylesheet'>
    </head>
    <body>
        <form action='/handleNewMemberData' method='post' enctype="multipart/form-data">
            Name: <input type='text' name='playerName'><br>
            PID Number: <input type='text' name='pidNumber'><br>
            Email address: <input type='text' name='email'><br>
            Payment Option: <select name='payment'>
                <option value='payNow'>Pay Now</option>
                <option value='payLater'>Pay Later</option>
            </select><br>
            Upload a picture of your face: <input type='file' name='myPhoto'><br>
            <input class='btn btn-primary' type='submit' value='Submit'>
        </form><br>
        <a href='/'>
            <button class='btn btn-primary'>Home</button>
        </a>
    </body>
</html>
